{
    "source": {
        "directories": [
            "src"
        ],
        "exclude": [
            "test"
        ]
    },
    "timeout": 10,
    "logs": {
        "text": "humbuglog.txt"
    }
}
